.walrus-showing {
  display: none;
}

p {
  cursor: pointer;
  color: #0088cc;
}

p:hover {
  text-decoration: underline;
}

.dark-on-light {
  background-color: white;
  color: black;
}

.light-on-dark {
  background-color: black;
  color: green;
}
.highlight {
  border-color: yellow;
  border-width: medium;
  border-style: solid;
}
